@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: Poppins, sans-serif;
  line-height: 1.6;
  color: #e3e3e3;
  background-color: #a1c3ff;
}

ul{
  list-style-type: none;
}

ul li a{
  text-decoration: none;
}

.container{
  max-width: 1170px;
  padding: 0 30px;
  margin: 0 auto;
}

/* HEADER SECTION */
nav{
  height: 60px;
  color: #eee;
  background-color: #3474e6;
}

.logo {
  font-size: x-large;
  font-weight: bolder;
}

.navLinks a{
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}

nav .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.container .navLinks{
  display: flex;
  gap: 1rem;
}

/* HEADER SECTION */
.header {
  background-color: #0151cc;
  color: #fff;
  min-height: 300px;
}

.header h1{
  font-size: 3rem;
  line-height: 1.2;
}

.header p{
  padding: 2rem 0;
  margin-bottom: 1rem;
}

.header .btn {
  color: #0151cc;
  background-color: #fff;
  text-decoration: none;
  padding: 0.7rem 1.3rem;
  border-radius: 10px;
  font-weight: bold;
}

.header img{
  max-width: 375px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* INFORMATION SECTION */

.boxes{
  background-color: #84aff8;
  color: #ffffff;
  padding: 1rem 0;
}

.boxes>h1{
  font-size: 3rem;
  text-align: center;
  padding: 1.2rem 0;
}

.boxes .box img{
  max-width: 50%;
}

.boxes .container{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.container .box{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  border: solid 1px #4999b1;
  border-radius: 10px;
  margin: 2rem 0;
  padding: 1.5%;
}